<!doctype html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<h1>Login</h1>

{{>navpartial}}

<main>


<p>You are currently logged in as {{user.Firstname}} {{user.Lastname}}
    (with {{user.Role}} privileges).</p>


<form method="post" enctype="multipart/form-data">
    <ul>
        <li>
            <label for="title">title</label>
            <input name="title" id="title" type="text" value="{{@koa.flash.formdata.username}}"  autofocus>
        </li>
        <li>
            <label for="author">author</label>
            <input name="author" id="author" type="text" >
        </li>
        <li>
            <label for="tag">tag</label>
            <input name="tag" id="tag" type="text" >
        </li>
        <li>
            <label for="imgs">imgs</label>
            <input name="imgs" id="imgs" type="file" required multiple="multiple">
        </li>
        <li>
            <label></label>
            <input type="remember-me" name="remember-me" id="remember-me">
            <label for="remember-me" title="for up to 7 days inactivity" class="grey">remember me</label>
        </li>

        <li>
            <label></label>
            <button type="submit" class="fa fa-check-square-o green" title="Login"></button>
            {{#if @koa.flash.loginfailmsg}}<span class="error-msg">{{@koa.flash.loginfailmsg}}</span>{{/if}}
        </li>
    </ul>
</form>

<p><a href="/password/reset-request">Forgotten password</a></p>

<p>Test logins:</p>
<ul>
    <li><i>guest@user.com/guest</i> for read-only access</li>
    <li><i>admin@user.com/admin</i> for full access</li>
</ul>



</main>

</body>
</html>
